      <div class="container">
        <div class="row">
          <button class="backToHome" (click)="back()">Back To Search Page</button>
        </div>
        <div>
          <div class="row">
            <div class="col">
              <h3>The Searched Reasults Are For: {{a}}, {{b}}</h3>
            </div>
          </div>
        </div>
        <div class="row py-4">
          <div class="col-md-3" *ngFor="let info of one" (click)="showMarketDetails(info)">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{info.category_name}}</mat-card-title>
                <mat-card-subtitle>{{info.item_name}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content style="margin: 0 16px;">
                <p><span>Maximum Price:</span> {{info.max | currency: info.currency_code}}</p>
                <p><span>Minimum Price:</span> {{info.min | currency: info.currency_code}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
