.mat-card-title {
  font-size: 22px;
  color: #00d09c;
  text-align: center;
}

/* .example-card {
  height: 250px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.example-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */

.mat-card-header {
  justify-content: center !important;
  margin-top: 20px;
}
